<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30196978383-cbpsh272ddoad174rt007c14rfnqjo3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30196978383-cbpsh272ddoad174rt007c14rfnqjo3n</string>
	<key>API_KEY</key>
	<string>AIzaSyD94gjqeU3pxOj1izfxDAsw7_3_Gl6-_Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>30196978383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.certify</string>
	<key>PROJECT_ID</key>
	<string>certify-br</string>
	<key>STORAGE_BUCKET</key>
	<string>certify-br.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30196978383:ios:a46d22723a92a7bb501dba</string>
</dict>
</plist>